
<h1>Login </h1>
<form method="POST">
    {% csrf_token %}
    <div>
        <p> {% for message in messages %}
            {{message}}
            {% endfor %}
        </p>
    </div>
    <table>
        <tr>
            <td><b>User Name</td>
            <td><input type="text" name="username" placeholder="Username"/> </td>
        </tr>
         <tr>
             <td><b>Password</b></td>
            <td><input type="password" name="password" placeholder="Username"/></td>
        </tr>
         <tr>
            <td><input type="submit" value="Submit"></td>
        </tr>
    </table>
</form>
<div>
    <h1><a href="{% url 'register' %}">Register</a></h1>
    <h1><a href="{% url 'reset_password' %}">Forgot Password</a></h1>
</div>
